:root {
  --color_window: #111111;
  --color_bg: #1e1e1e;
  --color_text: #ffffff;
  --color_element: #2c2c2c;

  --size_basicHeight: 36px;
  --size_borderWidth: 0.4px;

  --opacity_tinted: 0.6;

  --bgImg_checkerboard: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill-opacity=".1"><path d="M8 0h8v8H8zM0 8h8v8H0z"/></svg>');
}
