.button {
  border-radius: 0.375rem;
  display: flex;
  align-items: center;

  &--justify-start {
    justify-content: flex-start;
    text-align: left;
  }

  &--justify-end {
    justify-content: flex-end;
    text-align: right;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &:hover {
    opacity: var(--opacity_tinted);
  }

  &:active {
    opacity: calc(var(--opacity_tinted) / 2);
  }

  &--variant-fill {
    background: var(--color_element);
  }

  &--padding-small {
    padding: 0 0.5rem;
  }

  &--padding-medium {
    padding: 0 0.75rem;
  }

  &--padding-large {
    padding: 0 1rem;
  }

  &--variant-outline {
    border: var(--size_borderWidth) solid var(--color_text);
  }

  &--tinted {
    opacity: var(--opacity_tinted);

    &:hover {
      opacity: calc(var(--opacity_tinted) / 2);
    }

    &:active {
      opacity: calc(var(--opacity_tinted) / 4);
    }
  }

  &--no-text-wrap &__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--size-inline {
    & > * {
      margin-right: 0.25rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--size-regular {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & > * {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
