.text {
  &--tinted {
    opacity: var(--opacity_tinted);
  }

  &--transform-uppercase {
    text-transform: uppercase;
  }

  &--transform-lowercase {
    text-transform: lowercase;
  }

  &--size-small {
    & > * {
      font-size: 12px;
    }
  }

  &__input {
    width: 100%;
    cursor: text;
  }

  &__label {
    text-align: left;

    &--clickable {
      cursor: text;

      &:hover {
        opacity: var(--opacity_tinted);
      }

      &:active {
        opacity: calc(var(--opacity_tinted) / 2);
      }
    }
  }
}
