.text {
  &--tinted {
    opacity: var(--opacity_tinted);
  }

  &--grow {
    flex: 1;
  }

  &--transform-uppercase {
    text-transform: uppercase;
  }

  &--transform-lowercase {
    text-transform: lowercase;
  }
}
